/* You can add global styles to this file, and also import other style files */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #f2f2f2;
    --black: #1d1d1d;
    --dark-gray: #2c2c2c;
    --darkest-gray:#202020;
    --red: #bd0f0f;
    --green: #158b17;
}
html, body{
    height: 100%;
}

body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: var(--darkest-grey);
}

.msg-error{
    background-color: #bd0f0f;
    color: white;
}

.msg-success{
    background-color: green;
    color: white;
}

@media screen and (min-width: 760px){
    body{
        background-color: var(--darkest-gray);
        /*logo*/
        /*background-image: url();*/
        background-repeat: no-repeat;
        background-position-x: calc(100% - 20%) ;
        background-size: 25rem;
        background-position-y: 15rem;
        animation: backgroundFadeIn 2s;
    }
    @keyframes backgroundFadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
